body {
    background-color: #031220;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.container {
    max-width: 900px;
    background-color: #6eb4fb;
    padding: 20px;
    border-radius: 8px;
    
}

.btn-primary {
    display: flex;
    justify-content: end;
    background-color: rgb(73, 73, 78);
}

.btn-primary {
    background-color: #64717d;
    &:hover {
        background-color: #393c3f;
    }
}
#resultado {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}